/* to take priority over rickshaw.css,
 * this needs to come before rickshaw.css
 * in the html file
 */
div.title {
    color: #ddd;
}
.label {
    display: inline-block;
}
.line {
    display: inline-block;
    margin: 0 -10px 0 0;
}
#legend {
    width: 800;
}
