{% extends 'base.html' %}

{% set mytitle="Rickshaw Reactor" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}


{# ----------- javascript going up front -------------- #}

{% block head_scripts %}

<script src="{{ SITEURL }}/theme/js/d3-3.5.17.js" type="text/javascript"></script>
<script src="{{ SITEURL }}/theme/js/c3-0.1.33.js" type="text/javascript"></script>
<script src="{{ SITEURL }}/theme/js/rickshaw-1.6.0.js" type="text/javascript"></script>

<link href="{{ SITEURL }}/rickshaw/reactor.css" rel="stylesheet" type="text/css" />

<link href="{{ SITEURL }}/theme/css/rickshaw.css" rel="stylesheet" type="text/css" />

{% endblock %}

<style>
/* css could go here too */
</style>

{# ----------- content ------------- #}

{% block content %}


<div class="row">

    <div class="col-xs-6">

        <div id="reactor"></div>

        <br />
        <br />

    </div>

    <div class="col-xs-6">
        {% include 'reactor.md' %}
    </div>

</div>




<script src="{{ SITEURL }}/theme/js/jquery-1.11.2.js" type="text/javascript" ></script>
<script src="{{ SITEURL }}/rickshaw/reactor.js" type="text/javascript"> </script>

{% endblock %}


