{% extends 'base.html' %}

{% set mytitle="visualization3" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}


{# ----------- javascript going up front -------------- #}

{% block head_scripts %}

<script src="{{ SITEURL }}/theme/js/jquery-1.11.2.js" type="text/javascript" ></script>

<script src="{{ SITEURL }}/theme/js/d3-3.5.17.js" type="text/javascript"></script>
<script src="{{ SITEURL }}/theme/js/c3-0.1.33.js" type="text/javascript"></script>

<link  href="{{ SITEURL }}/theme/css/c3.css" rel="stylesheet" type="text/css">
<link href="{{ SITEURL }}/c3/visualization3.css" rel="stylesheet" type="text/css" />

{% endblock %}


{# ----------- content ------------- #}

{% block content %}

<div class="row">

    <div class="col-xs-6">

<div id="chart"></div>

    </div>

    <div class="col-xs-6">
        {% include 'visualization3.md' %}
    </div>

</div>


<script src="{{ SITEURL }}/c3/visualization3.js" type="text/javascript"> </script>


{% endblock %}


