{% extends 'base.html' %}

{% set mytitle="Basic Visualizations" %}

{% block title %}
{{ mytitle }}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

<style>
    img.index_img {
        width: 500px;
        border-style: solid;
        border-color: #ddd;
        border-width: thin;
    }
    a.index_btn {
        margin-top: 10px;
    }
    div.row {
        margin-top: 25px;
        margin-bottom: 25px;
    }
</style>

<div class="container">
<div class="row">

<h2><b>Basic Visualizations</b></h2>

<p class="lead">Several basic visualizations.
</p>



</div>
<div class="row">



<p>&nbsp;</p>

<h2><b>C3.js Visualizations</b></h2>

<p class="lead">A few basic visualizations with 
drop-down controllers using the C3 library.
</p>
<p><a class="index_btn btn btn-large btn-primary" href="visualization1.html">C3 Visualizations
</a></p>



</div>

{% endblock %}


