/* to take priority over rickshaw.css,
 * this needs to come before rickshaw.css
 * in the html file
 */
div.title {
    color: #ddd;
}



#legend {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
}

#chart_container4 {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
