/*-- Chart --*/

#example1 { min-height: 155px; }

.domain {
    visibility: hidden;
}


#chart_container {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
}

#example3 {
        position: relative;
        left: 40px;
}

#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}

#example4 {
        display: inline-block;
        margin-left: 40px;
}

#legend {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
}

#chart_container4 {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
