/*-- Chart --*/

#example1 { min-height: 155px; }

span.title {
    display: block;
    text-color: #fff;
    /*background-color: rgba(0,0,0,0.5);*/
}
span.value {
    display: block;
    text-color: #fff;
    /*background-color: rgba(0,0,0,0.5);*/
}

.domain {
    visibility: hidden;
}
